* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background: url(/img/hd-wallpaper-ge0255b616_1920.jpg);
    background-size: cover;
} 
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}
.contact .content p{
  
  font-weight: 300;
  color: #fff;
}
.container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  
}
.container .contactIfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactIfo .box{
  position: relative;
  padding: 20px;
  display: flex;
}
.container .contactIfo .box .icon{
  min-width: 60px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  font-size: 22px;
}

.container .contactIfo .box .tex{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactIfo .box .tex h3{
  font-weight: 700;
  color: #c23535;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
border-bottom: 2px solid #333;
/*  */
outline: none;
resize: none;
}
.contactForm .inputBox span{
   position: absolute;
   left: 0;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   /*  */
   pointer-events: none;
   transition: 0.5s;
   color:#666;
}
.inputBox input:focus~span,
 .inputBox input:valid~span,
.inputBox textarea:focus~span,
.inputBox textarea:valid~span{
  color: rgb(145, 145, 9);
  font-size: 12px;
  transform: translateY(-20px);
}
 .btn input{
  width: 100px;
  background: #c23535;
  color: rgb(225, 225, 81);
  cursor: pointer;
  padding: 10px;
  font-size: 18;
  border: none;
}
#error_message{
  background-color: #bb1a1a;
  padding: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  transition:  0.5s ;
  color: aqua;
  font-size: 20px;
  
  
}